<h1>List Of Teacher</h1>

<a href="{% url 'classroom:home' %}">Home</a>
<a href="{% url 'classroom:thank_you' %}">Thank You</a>
<a href="{% url 'classroom:contact' %}">Contact</a>
<a href="{% url 'classroom:teacher' %}">Teacher</a>
<a href="{% url 'classroom:teacher_list' %}">List Of Teacher</a>


<ul>
    {% for teacher in teachers %}

        <li>
            <a href="{% url 'classroom:teacher_detail' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }}</a> - 
            <a href="{% url 'classroom:update_teacher' teacher.id %}">Update</a> - 
            <a href="{% url 'classroom:delete_teacher' teacher.id %}">Delete</a>
        </li>

    {% endfor %}
</ul>